
* {
    box-sizing: border-box;
}

h1 { 
    font-family: 'Noto Sans', sans-serif;
    font-size: 100px;
    color: lightpink;
}

span {
    margin: 20px;
    padding: 15px;
    width: 80px;
    height: 80px;
    background-color: lightblue;
    border: 2px dotted blue;
    display: inline-block;
    font-size: small;
} 

.header {
    font-size: 700px;
    background-color: coral;
    font-weight: bold;
    color: antiquewhite;
    text-shadow: 0cqmin;
    text-align: center;
    text-decoration: dotted;
    width: 800px;
    height: 400px;
    padding: 50px;
    margin-top: -8px;
    margin-left: -8px;
    margin-bottom: 90px;
    border: 10px dashed darkmagenta;
}

ul {
    list-style-type: none;
    color: blueviolet;
    margin: 10 10px;
    padding: 10 10px;
    font-size: 25px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    display: flex
}

.lists {
    font: 'Noto Sans', sans-serif;
    background-color: palegoldenrod;
    color: lightpink;
    text-align: left;
    height: auto;
    width: 700px;
    margin-top: -490px;
    margin-left: 800px;
    padding: 50px;
}

.lists a {
    background-color: rgb(179 57 81);
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: auto;
}

.links-list a:hover {
    background-color: rgb(39, 135, 166);
    color: #fff;
  }

.heading {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: cornsilk;
    background-color: turquoise;
}

body {
    background-color: indianred;
}

